{% extends "layout.html" %}
{% block content %}




{% set ns = namespace(value=1) %}

<!-- <h1 class="pb-2 border-bottom">Get recommendations</h2> -->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="col d-flex align-items-start">
    <div>
        <h2>{{ns.value}}. Method</h2>
        {% set ns.value = ns.value + 1 %}

        {% if method_pred == "NFM" %}
            <p><strong>NFM</strong> checks for overlap with other user ratings by calculating similarity.
        {% else %}
        <strong>Most popular</strong> relies on the power of the masses and takes the top rated films.</p>
        {% endif %}
    </div>
  </div>
  {% if method_pred == "NFM" %}
  <div class="col d-flex align-items-start">
    <div>
      <h2>{{ns.value}}. Rate some movies!</h2>
      {% set ns.value = ns.value + 1 %}
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
    </div>
  </div>
  {% endif %}
  <div class="col d-flex align-items-start">
    <div>
      <h2>{{ns.value}}. Get recommendations!</h2>
      <p>Choose <strong>how many recommendations</strong> you'd like, and click on <strong>Recommend</strong> text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#inputs" class="btn btn-primary">
        Check it out!
      </a>
    </div>
  </div>
</div>




<div id="inputs" class="h-100 p-5 bg-light border rounded-3">

    <div id ="inputs-method-selector">
        <form action="{{ url_for('index') }}" name = 'method_select' method = "GET">

            <p>Choose your recommendation method:</p>

            {% if method_pred == "NFM" %}
                <input class="form-check-input" onchange="this.form.submit()" type="radio" id="NFM" name="rec_method" value="NFM" checked="checked">
                <label class="form-check-label" for="NFM">NFM</label><br>
                <input class="form-check-input" onchange="this.form.submit()" type="radio" id="mostpopular" name="rec_method" value="most_popular">
                <label class="form-check-label" for="mostpopular">Most Popular</label><br>
            {% elif method_pred == "most_popular" %}
                <input class="form-check-input" onchange="this.form.submit()" type="radio" id="NFM" name="rec_method" value="NFM">
                <label class="form-check-label" for="NFM">NFM</label><br>
                <input class="form-check-input" onchange="this.form.submit()" type="radio" id="mostpopular" name="rec_method" value="most_popular" checked="checked">
                <label class="form-check-label" for="mostpopular">Most Popular</label><br>
            {% else %}
                <input class="form-check-input" onchange="this.form.submit()" type="radio" id="NFM" name="rec_method" value="NFM">
                <label class="form-check-label" for="NFM">NFM</label><br>
                <input class="form-check-input" onchange="this.form.submit()" type="radio" id="mostpopular" name="rec_method" value="most_popular" checked="checked">
                <label class="form-check-label" for="mostpopular">Most Popular</label><br>
            {% endif %}   


            <br>
    
        </form>
    </div>

    <br>

    <div id = "inputs-ratings-selector">

        <form action="{{ url_for('recommender') }}" method = "GET">
        

            {% if method_pred == 'NFM' %}
            

            
                {% for i in range(3)%}

                <input type="text"
                    name="title"
                    placeholder="Movie title"
                    required
                    list="movies"
                    autocomplete="off"
                </input>

                <input type="range" id="rating-{{i+1}}" name="volume" min="1" max="5">
                <label for="rating-{{i+1}}">Rating {{i}}</label>
                </input>
            <br>


            
            <br>


                <!-- <input type="text"
                    name="title"
                    placeholder="Movie title"
                    required
                    list="movies"
                    autocomplete="off"
                </input>

                <input type="text"
                    name="rating"
                    placeholder="1-5"
                    required
                </input>
                <br>
                <br> -->
                {% endfor %}
            {% endif %}

            <br>

            <button type="submit" class="btn btn-primary">Recommend</button>

        </form>

    </div>
    
</div>


<datalist id="movies">
    {% for movie in movies%}
    <option value="{{movie}}"></option>
    {% endfor %}

</datalist>





{% endblock %}