{% extends "layout.html" %}
{% block content %}

<script>
    function get_rec_method() {
      window.rmc = document.getElementsByName("rec_method")[0].value;
      console.log(rmc);
    }
</script>


<h1> Welcome to my Movie Recommender </h1>
<h2>To get movie recommendations please do the following:</h2>
<ul>
    <li>Enter method</li>
    <li>Enter a movie title</li>
    <li>Enter a rating between 0 and 5</li>
    <li>Click on the submit button</li>
</ul>



<form action="{{ url_for('recommender') }}" method = "POST">


    <p>Please select your favorite Web language:</p>
    <input onchange="get_rec_method()" type="radio" id="NFM" name="rec_method" value="NFM">
    <label for="NFM">NFM</label><br>
    <input onchange="get_rec_method()" type="radio" id="mostpopular" name="rec_method" value="most_popular">
    <label for="mostpopular">Most Popular</label>
    <br>
    <br>

    {% if rmc == 'NFM' %}
      

    
        {% for i in range(3)%}
        <input type="text"
            name="title"
            placeholder="Movie title"
            required
            list="movies"
            autocomplete="off"
        </input>

        <input type="text"
            name="rating"
            placeholder="1-5"
            required
        </input>
        <br>
        <br>
        {% endfor %}
    {% endif %}

    <button type="submit">Show Recommendations</button>

</form>
<datalist id="movies">
    {% for movie in movies%}
    <option value="{{movie}}"></option>
    {% endfor %}

</datalist>
<a href="/recommender">Go to recommender</a>
<br>
<br>
<a href="https://www.w3schools.com/">Click here to learn more about html and other languages</a>

{% endblock %}